.body-nav{
    background:#F8F9FA;
    padding-left:50px;
}

#Logo-img{
    width:15vh;
    height: auto;
}

#Seção{
    padding-left: 10%;
    
}

#offcanvasNavbarDropdown-expand{
 padding: 5%;   
 padding-top: 11%;
}
